<h2>Room Details</h2> 
<div *ngIf="room.id; else semRegistro">
  <div>
    <label><b>Name:</b></label> {{room.name}}
  </div>
  <div>
    <label><b>Date:</b></label> {{room.date}}
  </div>
  <div>
    <label><b>Start Hour:</b></label> {{room.startHour}}
  </div>
    <div>
    <label><b>End Hour:</b></label> {{room.endHour}}
  </div>
  <br>
  <button (click)="list()" class="btn btn-primary">Back to Room List</button>
</div>

<ng-template #semRegistro>
  <div class="alert alert-danger main-div">
    <span>Room not found!</span>
  </div>
  <button (click)="list()" class="btn btn-primary">Back to Room List</button>
</ng-template>