<h3>Update Room</h3>
<div style="width: 400px;" *ngIf="room.id; else semRegistro">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="room.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">date</label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="room.date" name="date">
    </div>

    <div class="form-group">
      <label for="name">start Hour</label>
      <input type="text" class="form-control" id="startHour" required [(ngModel)]="room.startHour" name="startHour">
    </div>

    <div class="form-group">
      <label for="name">end Hour</label>
      <input type="text" class="form-control" id="endHour" required [(ngModel)]="room.endHour" name="endHour">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Save</button>&nbsp;
    <button (click)="list()" class="btn btn-primary">Back to Room List</button>
  </form>
</div>

<ng-template #semRegistro>
  <div class="alert alert-danger main-div">
    <span>Room not found!</span>
  </div>
  <button (click)="list()" class="btn btn-primary">Back to Room List</button>
</ng-template>
